<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {% for cursos in courses %}
    
    <p>curso: {{cursos.curso}}</p>
    <p>camada: {{cursos.camada}}</p>

    <button>
        <a href="{% url 'cursoEliminar' cursos.curso %}">Eiminar</a>
    </button>
    <button>   
        <a href="{% url 'cursoEditar' cursos.curso %}">Editar</a>
    </button>


    **********************************************
    {% endfor %}
</body>
</html>