{% extends "app1/padre.html"%}

{% block titulo %}
Cursos
{% endblock %}

{% block formulario %}
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="btn btn-primary" href="{% url 'cursoscrear' %}">Nuevo curso</a>
    </div>
</nav>
{% endblock %}

{% block ver %}
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="btn btn-primary" href="{% url 'cursosLeer' %}">Base de datos</a>
    </div>
</nav
{% endblock %}