{% extends "app1/padre.html"%}

{% block titulo %}
Estudiantes
{% endblock %}

{% block formulario %}
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="btn btn-primary" href="{% url 'estudiantescrear' %}">Nuevo estudiante</a>
    </div>
</nav>
{% endblock %}

{% block eliminar %}
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="btn btn-primary" href="{% url 'estudianteEliminar' %}">Borrar estudiante</a>
    </div>
</nav>
{% endblock %}
{% block ver %}
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="btn btn-primary" href="{% url 'estudiantesLeer' %}">Base de datos</a>
    </div>
</nav
{% endblock %}